* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    width: 600px;
    margin: 20px auto;
    border: 2px solid black ;
    border-radius: 5px;
    height: 800px;

}
h1{
    padding-top: 20px;
    padding-left: 20px;
}
h2{
    padding-top: 20px;
    padding-bottom: 10px;
   text-align: left;
}
.container{
    width: 500px ;
    margin: 0 auto;

}


.pseudo{
padding-top: 10px;
}

button{
    width: 200px;background: lightgrey;
    height: 40px;


}
input{
    width: 220px;
    height: 30px;
}
#provinceCanada{
    width: 220px;
    height: 30px;
}
#contact{

    display: block;
    justify-content: center;
    text-align: center;
 }

.contact p{
    text-align: left;
    position: relative;
    top: 22px;
    left: 40px;
}
.contact {
padding-bottom: 20px;
}
#info-commande{
    display: block;
    text-align: center;
    padding: 20px;
}
h1, h2{
    color: gray;
}
